BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 150
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  BeforeCase: false
  AfterCase: false
  AfterEnum: false
  AfterStruct: false
  AfterClass: false
  BeforeLambdaBody: false
AllowShortCaseLabelsOnASingleLine: true
KeepEmptyLinesAtTheStartOfBlocks: false
BinPackArguments: false
BinPackParameters: false
